@page "/ctf"

<PageTitle>CTF</PageTitle>

<div class="container  text-center " >
<div class="card-deck" >
<div class="row justify-content-center ">

  <div class="col-sm-2 ">
    <div class="card mt-5 outline-danger ">
        <div class="card-header"><strong>@HeaderText</strong></div>
         <input type="text" class="form-control" @bind="InputValue" @bind:event="oninput" />
           <button class=" btn btn-outline-success card-footer " @onclick="checkFlag">
            Submit flagg
           </button>
    </div>
  </div>


</div>
</div>
</div>

@code{
    @inject IJSRuntime jsRuntime
     [Parameter]
    public string HeaderText {get; set;} = "This is a ctf challenge created for IDATT2503. You do not need to visit the contact page on this website to solve the task";
    [Parameter]
    public string InputValue { get; set; } ="";
    public void changeTextValidPassword(){
      HeaderText = "YOU FOUND THE FLAG";

      InvokeAsync(() => StateHasChanged());
    }

    public void changeTextUnValidPassword(){
      HeaderText = "WRONG FLAG";

      InvokeAsync(() => StateHasChanged());
    }

    public void checkFlag(){
        if(InputValue.ToLower() == "6017aalesund" && InputValue is not null ){
            changeTextValidPassword();
        }
        else{
            changeTextUnValidPassword();
        }
        InvokeAsync(() => StateHasChanged());
    }
}